---
// Redirect to Robot Registry Foundation
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=https://robotregistryfoundation.org/registry/" />
    <link rel="canonical" href="https://robotregistryfoundation.org/registry/" />
    <title>Robot Registry → robotregistryfoundation.org</title>
  </head>
  <body>
    <p>The Robot Registry has moved to <a href="https://robotregistryfoundation.org/registry/">robotregistryfoundation.org/registry/</a></p>
  </body>
</html>
